* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: "Roboto", sans-serif, -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.todo {
  

  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100vw - 200px);
  height: calc(100vh - 100px);
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #d1c4c4;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  font-size: 14px;

  &__sidebar {
    background-color: #f4f6f8;
    width: 220px;
    height: 100%;
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;

 

  }
  &__tasks{
    flex: 1;
    padding: 60px;
    overflow: auto;

   
  }
}



.field {
  width: 100%;
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;

  &:focus {
    border-color: #d3c8c8;
  }
}

.button {
  color: #fff;
  border: 0;
  background: #4dd599;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
 

  &:hover {
    background: darken($color: #4dd599, $amount: 5);
  }

  &:active {
    background: darken($color: #4dd599, $amount: 10);
  }

  &:disabled{
    background:rgb(58, 58, 58);
  }

  &--grey{
    background:#F4F6F8;
    color: #444444;

  

    &:hover{
      background: darken($color: #F4F6F8, $amount: 5);
    }
    &:active {
      background: darken($color: #F4F6F8, $amount: 10);
    }
  
  }
}

 
